Assignment_2/CognitiveTest/app/*.iml
Assignment_2/CognitiveTest/app/app.iml
Assignment_2/CognitiveTest/*.iml
*.iml
Assignment_2/CognitiveTest/.gradle
Assignment_2/CognitiveTest/local.properties
Assignment_2/CognitiveTest/.idea
Assignment_2/CognitiveTest/.DS_Store
Assignment_2/CognitiveTest/build
Assignment_2/CognitiveTest/captures/
Assignment_2/CognitiveTest/.externalNativeBuild